name: Aqua Scanner Test

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
  push:
    branches: [main]

jobs:
  aqua-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Aqua scanner (OLD VERSION - will fail with nil pointer)
        uses: docker://aquasec/aqua-scanner:v0.213.0
        # TODO: After fix is released, change to: aquasec/aqua-scanner:v0.214.0
        with:
          args: trivy fs --package-json --sast --debug --scanners misconfig,vuln,secret .
        env:
          AQUA_KEY: ${{ secrets.AQUA_KEY }}
          AQUA_SECRET: ${{ secrets.AQUA_SECRET }}
          GITHUB_TOKEN: ${{ github.token }}
          TRIVY_RUN_AS_PLUGIN: "aqua"
          TRIVY_USERNAME: ${{ secrets.TRIVY_USERNAME }}
          TRIVY_PASSWORD: ${{ secrets.TRIVY_PASSWORD }}
          TRIVY_DB_REPOSITORY: registry.aquasec.com/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: registry.aquasec.com/trivy-java-db:1
          TRIVY_CHECKS_BUNDLE_REPOSITORY: registry.aquasec.com/trivy-checks:1

